.App {
  text-align: center;
}

.container {
  padding: 40px;
  background: #419be0;
}

.main-page {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "popular"
    "top_rated"
    "upcoming";
}

.main-page .popular {
  grid-area: popular;
}

.main-page .top_rated {
  grid-area: top_rated;
}

.main-page .upcoming {
  grid-area: upcoming;
}

.slider {
  padding-top: 120px;
  padding-bottom: 50px;
  display: grid;
  grid-gap: 20px;
  background: black;
  grid-template-areas:
    "slider-header slider-header slider-header slider-header slider-header "
    "left-arrow image-1 image-2 image-3 right-arrow";
}

h1 {
  color: white;
}

.slider .slider-header {
  grid-area: slider-header;
  align-self: end;
  justify-self: center;
}

.slider .left-arrow {
  grid-area: left-arrow;
  align-self: center;
  justify-self: end;
}

.slider-button {
  background-color: #04aa6d;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.slider .image-1 {
  grid-area: image-1;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.slider .image-1 > img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.slider .image-2 {
  grid-area: image-2;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.slider .image-2 > img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.slider .image-3 {
  grid-area: image-3;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.slider .image-3 > img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.slider .right-arrow {
  grid-area: right-arrow;
  align-self: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  display: grid;
  grid-template-columns: 1fr 6fr 2fr;
  grid-template-areas: "home-icon search my-qualifications";
  background: black;
  height: 100px;
  padding-left: 25px;
  padding-right: 25px;
}

.header .home-icon {
  grid-area: home-icon;
}

.header .search {
  grid-area: search;
  align-self: center;
  justify-self: center;
}

.header .my-qualifications {
  grid-area: my-qualifications;
  justify-self: end;
}

.search-bar {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 8fr 1fr;
  grid-template-areas: "search button";
}

.search-bar .search {
  grid-area: search;
}

.search-bar .search > input {
  height: 30px;
  width: 650px;
  font-size: 14pt;
}

.search-bar .button {
  grid-area: button;
  background-color: #04aa6d;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  display: block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
